@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');


main{
    min-height: 90vh;
}

h3{
  padding: 1rem 0;
}

.rating span{
    margin: 0.080rem;
}
.logoName{
  font-family: 'Tourney', cursive;
  font-size: 22px;
  margin: 6px 6px;
  color: #3CA861 ;
}

