
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');


main{
    min-height: 90vh;
}

h3{
  padding: 1rem 0;
}

.rating span{
    margin: 0.080rem;
}
.logoName{
  font-family: 'Tourney', cursive;
  font-size: 22px;
  margin: 6px 6px;
  color: #3CA861 ;
}
.mail{
  margin-top: 3px;
  font-size: 18px;
  margin-right: 5px;
  color: #3CA861 ;
}
.call{
  margin-top: 3px;
  font-size: 18px;
  margin-right: 5px;
  color: #3CA861 ;
}

.call-color{
  color: #3CA861 ;
  text-align: left;
  font-size: 15x;
}

.mail-color{
  color: #3CA861 ;
  text-align: right;
  font-size: 16px;
}
.top-header-color{
  background-color: #F7F8FA;
}

.flex{
  font-family: 'Merriweather Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}


.marked-text{
  color: #3CA861;
}

.headImg{
 max-width: 450px;
}



.headImg {
  position: relative;
  animation-name: headImg;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes headImg {
  0%   { transform: translateY(10px);}
 
  100% { transform: translateY(-10px);}
}
@-webkit-keyframes headImg {
  0%   { transform: translateY(10px);}
 
  100% { transform: translateY(-10px);}
}


